<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Guests</title>
</head>
<body>
<h1>Welcome to the Guests Page</h1>
<table>
    <tr>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email Address</td>
        <td>Phone Number</td>
    </tr>
    <tr th:each="guest: ${guests}">
        <td th:text="${guest.lastName}">LastName</td>
        <td th:text="${guest.firstName}">FirstName</td>
        <td th:text="${guest.emailAddress}">EmailAddress</td>
        <td th:text="${guest.phoneNumber}">PhoneNumber</td>
    </tr>
</table>
</body>
</html>

